################################################################################
# Tento soubor .gitignore byl automaticky vytvořen aplikací Microsoft(R) Visual Studio.
################################################################################

/.vs/Test na opičí syndrom/FileContentIndex/f99b7067-c33c-469e-a22e-c4a91a2e0b27.vsidx
